<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery - Nail Art Gallery</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/header', { user: user }) %>

  <main>
    <h1>Gallery</h1>
    <div class="gallery">
      <% nailArtStyles.forEach(style => { %>
        <div class="gallery-item">
          <img src="<%= style.image_url %>" alt="<%= style.title %>">
          <h2><%= style.title %></h2>
          <p><%= style.description %></p>
          <a href="/detail/<%= style._id %>">View Details</a>
        </div>
      <% }) %>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
