<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nail Art Gallery</title>
</head>
<body>
<%- include('partials/header') %>

<div class="container">
  <!-- <h1>Welcome, 
    <% if (currentUser) { %>
      <%= currentUser.username %>
    <% } else { %>
      Guest
    <% } %> -->
   <!-- </h1>   -->
   <div class="gallery">
    <% designs.forEach(design => { %>
      <div class="design">
        <h2><%= design.title %></h2>
        <img src="<%= design.image %>" alt="<%= design.title %>">
        <p>Category: <%= design.category %></p>
        <p>By: <a href="/users/<%= design.author._id %>"><%= design.author.username %></a></p>
        <a href="/designs/<%= design._id %>">View Details</a>
      </div>
    <% }) %>
  </div>
</div>


<%- include('partials/footer') %>

</body>
</html>
